<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>165.98.12.158</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Prueba</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="seguridadDBConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=165.98.12.158;Initial Catalog=MininosUCA;Persist Security Info=True;User ID=sa;Password=$qlS3rv3r2018*" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-GDV7EJO;Initial Catalog=seguridadDB;Persist Security Info=True;User ID=sa;Password=Egonzalez87" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\seguridadDBConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DESKTOP-GDV7EJO;Initial Catalog=seguridadDB;Persist Security Info=True;User ID=sa;Password=Egonzalez87" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="seguridadDBConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=165.98.12.158;Initial Catalog=MininosUCA;Persist Security Info=True;User ID=sa;Password=$qlS3rv3r2018*</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>